body{

margin:0;
font-family:Segoe UI;
background:#eef2f7;

}


.sidebar{

width:230px;
height:100vh;
background:linear-gradient(180deg,#1f4e79,#173b5e);
color:white;
position:fixed;
padding:25px;

}


.sidebar h2{

margin-bottom:40px;

}
.header{

margin-bottom:40px;

}

.header h1{

font-size:42px;
font-weight:800;

background:linear-gradient(90deg,#1f4e79,#4aa3ff,#6bc2ff);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

margin:0;

}

.header p{

font-size:16px;
color:#555;

margin-top:8px;

}

.sidebar ul{

list-style:none;
padding:0;

}


.sidebar li{

padding:14px;
margin-bottom:10px;
cursor:pointer;

border-radius:10px;

background:linear-gradient(145deg,#2f6ea6,#1f4e79);

box-shadow:
6px 6px 14px rgba(0,0,0,0.35),
-2px -2px 5px rgba(255,255,255,0.15);

transition:0.25s;

}


.sidebar li:hover{

transform:translateY(-3px);

}



.content{

margin-left:260px;
padding:40px;

}



.content h1{

font-size:38px;
font-weight:800;

background:linear-gradient(90deg,#1f4e79,#4aa3ff);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

margin-bottom:35px;

}



.cards{

display:flex;
gap:30px;

}



.card{

background:white;
padding:30px;
border-radius:15px;

box-shadow:
0 10px 25px rgba(0,0,0,0.15);

width:220px;
text-align:center;

}



.card p{

font-size:28px;
font-weight:bold;

}



input{

padding:10px;
width:260px;

border-radius:8px;
border:1px solid #ccc;

}



button{

padding:10px 20px;
background:#1f4e79;
color:white;
border:none;
border-radius:8px;
cursor:pointer;

}



table{

width:100%;
border-collapse:collapse;
margin-top:30px;
background:white;

}



table,th,td{

border:1px solid #ddd;

}



th{

background:#1f4e79;
color:white;

}



th,td{

padding:10px;

}



.hidden{

display:none;

}
