body{

margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#f4f6f9;

}



/* SIDEBAR */

.sidebar{

width:220px;
height:100vh;
background:#1f4e79;
color:white;
position:fixed;
top:0;
left:0;
padding:20px;

}

.sidebar h2{

margin-bottom:30px;
font-size:22px;

}

.sidebar ul{

list-style:none;
padding:0;

}

.sidebar li{

padding:12px;
cursor:pointer;
border-radius:6px;
margin-bottom:5px;

}

.sidebar li:hover{

background:#2f6ea6;

}



/* CONTENT */

.content{

margin-left:240px;
padding:30px;

}



/* DASHBOARD CARDS */

.cards{

display:flex;
gap:20px;
flex-wrap:wrap;

}

.card{

background:white;
padding:25px;
border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
width:220px;
text-align:center;

}

.card h3{

margin:0;
font-size:18px;

}

.card p{

font-size:26px;
font-weight:bold;
margin-top:10px;

}



/* INPUT */

input{

padding:10px;
width:260px;
border:1px solid #ccc;
border-radius:6px;

}



/* BUTTON */

button{

padding:10px 18px;
background:#1f4e79;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
font-weight:bold;

}

button:hover{

background:#2f6ea6;

}



/* TABLE */

table{

width:100%;
border-collapse:collapse;
margin-top:20px;
background:white;

}

table th{

background:#1f4e79;
color:white;

}

table,th,td{

border:1px solid #ddd;

}

th,td{

padding:10px;
text-align:left;

}

tr:nth-child(even){

background:#f2f2f2;

}



/* PAGE SYSTEM */

.page{

display:block;

}



/* HIDDEN */

.hidden{

display:none;

}
