.sidebar li{

padding:14px;
cursor:pointer;
border-radius:10px;
margin-bottom:10px;
font-size:16px;

background:#2a5f8f;

box-shadow:
0 4px 10px rgba(0,0,0,0.25),
inset 0 1px 0 rgba(255,255,255,0.2);

transition:0.2s;

}

.sidebar li:hover{

background:#3474a8;

transform:translateY(-2px);

box-shadow:
0 8px 16px rgba(0,0,0,0.35);

}

.sidebar li:active{

transform:translateY(2px);

box-shadow:none;

}
